<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.mlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AulaQuiz"
            android:label="Quiz da Aula" />
        <activity
            android:name=".activity.ResultadoQuiz"
            android:label="Seu desempenho" />
        <activity
            android:name=".activity.AssistirVideo"
            android:label="Vídeo da Aula" />
        <activity
            android:name=".activity.Principal"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>